<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="loading-gif" *ngIf="isLoading"> 
        <img src="../../assets/gif-loading.gif" />    
      </div>

      <app-search-bar (filterTrigger)="getSearchTerm($event)"></app-search-bar>

      <div class="row">
        <div class="col-md-12" *ngFor="let item of records | filter : searchTerm | paginate: { itemsPerPage: 30, currentPage: p } let i = index">
          <ul class="list-branches">
            <li><a href="#" (click)="hideme[i] = !hideme[i]"> {{item.Name}} - {{ item.PostalAddress.AddressLine }} </a></li>
           
            <app-branch-details>
                <div class="branch-details" [hidden]="!hideme[i]">
                    <p> <span class="label">Address: </span> {{ item.PostalAddress.AddressLine }}, {{ item.PostalAddress.TownName }}, {{ item.PostalAddress.PostCode }}, {{ item.PostalAddress.CountrySubDivision }}, {{ item.PostalAddress.Country }}</p>
                
                    <p> <span class="label">Contact Information: </span> </p>
        
                    <div class="hours" *ngFor="let i = index ">
                        <p *ngIf="i<2">  <span class="label"> {{ item.ContactInfo[i].ContactType }} </span> {{ item.ContactInfo[i].ContactContent }} </p>
                    </div>
        
                    <p> <span class="label">Working Hours: </span> </p>
                    
                    <div class="hours" *ngFor="let item of branches; let i = index ">
                      <p *ngIf="i<5">  <span class="label"> {{ item.Availability.StandardAvailability.Day[i].Name }}: {{ item.Availability.StandardAvailability.Day[i].OpeningHours[0].OpeningTime }} - {{ item.Availability.StandardAvailability.Day[i].OpeningHours[0].ClosingTime }} </span>  </p>
                    </div>
                </div>
            </app-branch-details>
          </ul>
          
        </div>
      </div>      

    </div>
  </div>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>