.list-branches {
    padding-left: 0;
    display: block;
    width: 1000px;
}

.list-branches li {
    list-style: none;
    border-bottom: 1px #dcdbdb solid;
    border-radius: 5px;
    padding: 10px;
}

.list-branches li:hover {
    box-shadow: 1px 4px #dcdbdb;
    background: #71a0cf26;
}

.list-branches li a {
    display: block;
    width: 100%;
    color: #71A0CF;
}

.list-branches li a:hover {
    text-decoration: none;
}

.branch-details{
    padding: 15px 10px;
}

span.label {
    font-weight: bold;
    color: #a5a4a0;
}

p {
    color: #a5a4a0;
}
