<div class="container main-app">
  <div class="row">
    <div class="col-12-md">
        <h1 class="title">Locate a Halifax Branch</h1>
        <app-list-branches></app-list-branches>
    </div>
  </div>
</div>